@font-face {
  font-family: Roboto;
  src: url("../fonts/static/Roboto-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Roboto;
  src: url("../fonts/static/Roboto-Black.ttf");
  font-weight: bold;
}

@font-face {
  font-family: Roboto-italico;
  src: url("../fonts/static/Roboto-Italic.ttf");
}

* {
  font-family: Roboto, sans-serif, "Times New Roman";
  color: brown;
}

h1 {
  font-family: Roboto-italico;
  font-size: 36px;
  color: blue;

}

.font-black {
  font-family: Roboto;
  font-weight: bold;
  color: RED;
}
