* {
  font-family: Roboto;
}

.exemplo {
  background-color: black;
  width: 200px;
  height: 200px;
  border: 20px SOLID;
}

#exemplo-1 {
  border-image-source: url("/Estelizacao/background/img/borboleta.PNG");
}

#exemplo-2 {
border-image-source: linear-gradient(RED, BLUE);
}

#exemplo-3 {
border-image-source: url("/Estelizacao/background/img/borboleta.PNG");
border-image-repeat: round;
border-image-slice: 20;
}

#exemplo-4 {
border-image-source: linear-gradient(RED, BLUE);
border-image-slice: 2;
border-image-width: 10px 20px 30px 40px;
border-image-outset: 10PX;
}
