@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap");
* {
  font-family: "Zalando Sans SemiExpanded";
  font-size: 18px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 1000px;
  margin: 10px auto;
  /* border: 2px solid red; */
}

h1 {
  text-align: left;
  font-size: 30px;
  color: blue;
  text-decoration: underline 2px violet;
}

h2 {
  margin-top: 2px 0px 20px;
}

h3 {
  text-align: left;
  margin: 20px 0px 10px;
}

.cor-da-caixa {
  background-color: aqua;
  width: 200px;
  border: 1px solid green;
}

span {
  color: blueviolet;
  background-color: rgb(235, 235, 12);
}

.normal {
  white-space: normal;
}

.nowrap {
  white-space: nowrap;
}

.pre {
  white-space: pre;
}

.pre-line {
  white-space: pre-line;
}

.pre-wrap {
  white-space: pre-wrap;
}

.break-space {
  white-space: break-spaces;
}
