*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container {
  background-color: palegreen;
  padding: 20px;
  margin: 10px;
  width: 300px;
  display: flex;
  /* flex-wrap: wrap; */
}

.item {
  background-color: orange;
  margin: 10px;  
}

#container-01 {
  flex-flow: row wrap;
  background-color: aqua;
}


#container-02 {
  height: 300px;
  background-color: rgb(65, 183, 30);
  flex-flow: column wrap-reverse;
}

/* juste content */