*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

.container {
  background-color: palegreen;
  padding: 20px;
  margin: 10px;
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.item {
  background-color: orange;
  margin: 10px;  
  padding: 1.5px;
}

#container-01 {
  flex-direction: row;
  background-color: aqua;
}

.container-extra {
  background-color: rgb(246, 152, 251);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 200px;
}

#container-02 {
  width: 300px;
  height: 300px;
  flex-direction: column;
  background-color: rgb(65, 183, 30);
  flex-wrap: wrap;
}
